<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<title>Youtube Downloader</title>

<body>
    <br />
    <form action="/output" id="formclass" method="post">
        <h1 align="center">YouTube Media Downloader</h1><br /><br /><br />
        <h3>Youtube URL</h3>
        <input onclick="paste(this)" type="url" name="search-bar" id="search-bar" onfocus="this.placeholder=''"
            onblur="this.placeholder='Type URL like  https://www.youtube.com'" spellcheck="value" autofocus="autofocus"
            required><br /><br /><br />
        <h3>Output Format</h3>
        <div class="switch-field">
            <input type="radio" id="radio-three" name="switch-two" value="1080p" />
            <label for="radio-three">1080p</label>
            <input type="radio" id="radio-four" name="switch-two" value="720p" />
            <label for="radio-four">720p</label>
            <input type="radio" id="radio-five" name="switch-two" value="720p" />
            <label for="radio-five">360p</label>
            <input type="radio" id="radio-six" name="switch-two" value="haq" />
            <label for="radio-six">Highest Audio Quality</label>
        </div>
        <br /><br />
        <input type="button" id="bye" onclick="submitForm(event)" value="DOWNLOAD">
    </form>
    <div class="footer">
        <footer style="color:black;font-weight:600;">&copy; Copyright 2023 Vamshi Krishna Madhavan</footer>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
